  body { padding: 0; margin: 0; }
  div#info { position: absolute; bottom: 20; right: 20;
             background: white; padding: 10px; font-size:11px;
             font-family: Helvetica Neue, Arial, sans; text-transform: uppercase;
      }